mixin content
	.layout.layout-column.ph-20(
		[ngStyle]=`{
			'max-width.px'
			: '430' }`)
		.layout-column.layout-align-start-center.layout-gap-20.full-width
			h2
				| {{ existAccount ? ('LABEL.ACCOUNT_EXISTS' | translate) : ('LABEL.SIGN_IN' | translate) }}
			.layout-column.full-width.layout-gap-4
				form.layout-column.layout-gap-16.full-width.mih-244(
					autocomplete='on',
					[formGroup]='signInForm',
					(submit)='signin()')
					ng-container(*ngIf='existAccount else elseExistAccount')
						span.text-center(
							[innerHtml]='"MESSAGE.EMAIL_EXISTS" | translate : { email: existAccount}')
					ng-template(#elseExistAccount)
						cub-form-field(
							hideRequiredMarker,
							[label]='"LABEL.EMAIL" | translate')
							input(
								cubFormFieldInput,
								clearable,
								autoFocusOn,
								type='email',
								name='email',
								autocomplete='email',
								formControlName='email',
								[placeholder]='"PLACEHOLDER.TYPE_EMAIL" | translate',
								[(valueControl)]='account.email',
								(valueControlChange)='changeValue()')
							ng-container(
								cubFormFieldError,
								*ngIf='isEmailPasswordIncorrect')
					cub-form-field(
						hideRequiredMarker,
						[label]='"LABEL.PASSWORD" | translate')
						input(
							autoFocusOn,
							cubFormFieldInput,
							name='password',
							autocomplete='password',
							formControlName='password',
							[clearable]='false',
							[type]='hiddenPassword ? "text" : "password"',
							[placeholder]='"PLACEHOLDER.TYPE_PASSWORD" | translate',
							[(valueControl)]='account.password',
							(valueControlChange)='changeValue()')
						ng-container(cubFormFieldSuffix)
							button(
								cubBasicButton,
								iconSize='16px',
								iconColor='secondary',
								[icon]='hiddenPassword ? "eye" : "eye-slash"',
								(click)='hiddenPassword = !hiddenPassword')
						ng-container(
							cubFormFieldError,
							*ngIf='isEmailPasswordIncorrect')
							| {{ "MESSAGE.ACCOUNT_OR_PASSWORD_INVALID" | translate }}
					button.full-width.mt-8(
						cubButton='primary',
						type='submit',
						size='large',
						[disabled]=`signInForm?.invalid
							|| isEmailPasswordIncorrect
							|| isSubmitting`)
						+if('isSubmitting')
							cub-loading
						+else
							| {{ "LABEL.SIGN_IN" | translate }}
				.layout-column.layout-align-start-center.full-viewport-horizontal.layout-gap-8
					.layout-row.full-width.layout-align-center-center
						cub-divider.full-width(horizontal)
						.continue-with
							| {{ "LABEL.OR_CONTINUE_WITH" | translate}}
						cub-divider.full-width(horizontal)
					.button-login
						button.full-width(
							cubButton='secondary',
							icon='assets/images/icons/google.svg',
							iconSize='16px',
							[disabled]='isSubmitting',
							(click)='signInByGoogle()')
							| {{ "LABEL.SIGN_IN_WITH_GOOGLE" | translate }}
			.layout-column.layout-gap-8.text-center.full-width
				span
					| {{ "LABEL.FORGOT_YOUR_PASSWORD" | translate }}&nbsp;
					a.text-semibold.d-inline-block(
						(click)='stateNavigate([ PATH?.RESET_PASSWORD ])')
						| {{ "LABEL.RESET_PASSWORD" | translate }}
				span
					| {{ existAccount ? ('LABEL.NOT_YOUR_EMAIL' | translate) : ('LABEL.NO_ACCOUNT' | translate) }}&nbsp;
					a.text-semibold.d-inline-block(
						(click)='stateNavigate([ PATH?.SIGN_UP ])')
						| {{ existAccount ? ('LABEL.GO_BACK' | translate) : ("LABEL.SIGN_UP" | translate) }}
include patterns/auth.pug
